{% load staticfiles %}
<html>
    <head>
        <title>Random Shelf</title>
    </head>
    <body>
        <h1>Welcome to Random Shelf</h1>
        <nav>
            <a href="">About Random Shelf</a>
            <a href="">QA</a>
            <div class="user-info">
                {% if user.is_authenticated %}
                    Welcome, {{ user.username }}
                    <a href="{% url 'logout' %}">Signout</a>
                {% else %}
                    <a href="{% url 'login' %}">Login</a>
                    <a href="{% url 'signup' %}">Sign Up</a>
                {% endif %}
            </div>
        </nav>
        {% block content %}
        {% endblock %}
    </body>
</html>